.input-search {
    border: none;
    width: 500px;
    border-radius: 25px;
}

.input-search:hover {
    background-color: #fffffff5;
}

.btn-search {
    border-radius: 50px;
    font-family: FontAwesome;
}

strong {
    text-transform: capitalize;
}

.movies-list {
    width: 100%;
}

.search-form {
    width: 80%;
    max-width: 1000px;
}
